div.content {
  --divider-color: black;
  --divider-size: calc(0.125rem / 4);
  --divider-padding: calc(0.125rem / 2);
  --divider-border: var(--divider-size) solid var(--divider-color);
  --article-padding: 1rem;
  --single-column-padding: 8rem;

  display: flex;
  flex-direction: column;

  > * {
    margin-left: var(--single-column-padding);
    margin-right: var(--single-column-padding);
  }

  > div {
    display: flex;
    margin-top: var(--article-padding);
    margin-bottom: var(--article-padding);

    &.education {
      span:not(:first-child) {
        margin-left: auto;
      }
    }

    &.divider {
      background-color: var(--divider-color);
      border: var(--divider-border);
    }

    div {
      display: flex;
      margin: var(--article-padding);
      margin: var(--article-padding);

      &.divider {
        border: var(--divider-border);
      }
    }
  }
}
