div.content {
    --divider-color: black;
    --divider-size: calc(.125rem / 4);
    --divider-padding: calc(.125rem / 2);
    --divider-border: var(--divider-size) solid var(--divider-color);
    --article-padding: 1rem;

    display: flex;
    flex-direction: column;


    > :not(div) {
        text-align: center;
        margin: var(--article-padding);
    }

    > div {
        display: flex;
        margin: var(--article-padding);
        
        &.divider {
            background-color: var(--divider-color);
            border: var(--divider-border);
            margin: var(--article-padding);
        }

        div {
            display: flex;
            margin: var(--article-padding);

            &.divider {
                border: var(--divider-border);
            }
        }
    }
}