div.content {
    --divider-color: black;
    --divider-size: calc(.125rem / 4);
    --divider-padding: calc(.125rem / 2);
    --article-padding: 1rem;

    display: flex;
    flex-direction: column;


    > :not(div) {
        text-align: center;

        margin-left: calc(2 * var(--article-padding));
        margin-right: calc(2 * var(--article-padding));
    }

    > div {
        display: flex;
        
        &.top {
            margin: var(--article-padding);
            margin-bottom: 0px;
        }
        
        &.divider {
            background-color: var(--divider-color);
            border: var(--divider-size) solid var(--divider-color);
            margin-left: var(--article-padding);
            margin-right: var(--article-padding);
        }

        &.bottom {
            margin: var(--article-padding);
            margin-top: 0px;
        }

        div {
            display: flex;

            &.left {
                margin: var(--article-padding);
            }

            &.divider {
                border: var(--divider-size) solid var(--divider-color);
                margin-left: var(--article-padding);
                margin-right: var(--article-padding);
            }
        
            &.right {
                margin: var(--article-padding);
            }
        }
    }
}