:host {
  --article-padding: 1rem;
  --single-column-padding: 2rem;

  @media print {
    --single-column-padding: 0px;
  }

  div.content {
    display: flex;
    flex-direction: column;
    gap: var(--article-padding);

    margin-left: var(--single-column-padding);
    margin-right: var(--single-column-padding);

    > div {
      margin-top: 0px;
      margin-bottom: 0px;

      h2 {
        margin-bottom: 0.5rem;
      }

      &.education {
        div {
          display: flex;

          span:not(:first-child) {
            margin-left: auto;
            text-decoration: underline;
          }
        }
      }

      &.skills {
        ul {
          columns: 2;
        }
      }

      &.work-experience {
        div.experiences {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }
  }
}
